body:has(.wrapper) {
  overflow: hidden;
}

.container {
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.wrapper > div {
  --_delay: 2s;
  --_size: 40vmin ;

  width: var(--_size);
  height: var(--_size);
  border-radius: 5px;
  contain: content;
  background-color: #333;
  position: absolute;
  transition: 1s ease;
  z-index: 2;
  animation: div calc(5 * var(--_delay)) ease infinite;
}

.wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper > div:nth-of-type(1) {
  animation-delay: calc(5 * var(--_delay));
}

.wrapper > div:nth-of-type(2) {
  animation-delay: calc(4 * var(--_delay));
}

.wrapper > div:nth-of-type(3) {
  animation-delay: calc(3 * var(--_delay));
}

.wrapper > div:nth-of-type(4) {
  animation-delay: calc(2 * var(--_delay));
}

.wrapper > div:nth-of-type(5) {
  animation-delay: calc(1 * var(--_delay));
}

@keyframes div {
  0% {
    height: calc(var(--_size));
    width: calc(var(--_size));
    translate: 0;
    z-index: 2;
    filter: blur(0);
    box-shadow: 0px 0px 15px -10px #828282;
  }
  15% {
    height: calc(var(--_size));
    width: calc(var(--_size));
    translate: 0;
    z-index: 2;
    filter: blur(0);
  }

  20% {
    height: calc(var(--_size) * 5 / 6);
    width: calc(var(--_size) * 5 / 6);
    translate: calc(var(--_size) * -8 / 15);
    z-index: 1;
    filter: blur(2px);
  }
  35% {
    height: calc(var(--_size) * 5 / 6);
    width: calc(var(--_size) * 5 / 6);
    translate: calc(var(--_size) * -8 / 15);
    z-index: 1;
    filter: blur(2px);
  }

  40% {
    height: calc(var(--_size) * 2 / 3);
    width: calc(var(--_size) * 2 / 3);
    translate: calc(var(--_size) * -13 / 15);
    z-index: 0;
    filter: blur(4px);
  }
  55.55% {
    height: calc(var(--_size) * 2 / 3);
    width: calc(var(--_size) * 2 / 3);
    translate: calc(var(--_size) * -13 / 15);
    z-index: 0;
    filter: blur(4px);
  }

  55.56% {
    height: calc(var(--_size) * 2 / 3);
    width: calc(var(--_size) * 2 / 3);
    translate: calc(var(--_size) * 13 / 15);
    z-index: 0;
    filter: blur(4px);
  }
  75% {
    height: calc(var(--_size) * 2 / 3);
    width: calc(var(--_size) * 2 / 3);
    translate: calc(var(--_size) * 13 / 15);
    z-index: 0;
    filter: blur(4px);
  }

  80% {
    height: calc(var(--_size) * 5 / 6);
    width: calc(var(--_size) * 5 / 6);
    translate: calc(var(--_size) * 8 / 15);
    z-index: 1;
    filter: blur(2px);
  }
  95% {
    height: calc(var(--_size) * 5 / 6);
    width: calc(var(--_size) * 5 / 6);
    translate: calc(var(--_size) * 8 / 15);
    z-index: 1;
    filter: blur(2px);
  }
  100% {
    height: calc(var(--_size));
    width: calc(var(--_size));
    translate: 0;
    z-index: 2;
    filter: blur(0);
  }
}
