@import url("https://fonts.googleapis.com/css?family=Saira");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

.wrapper {
  --_back-color: #111;
  --_main-color: #ddd;
  --_z-size: 20px;
  --_sides: 5rem;

  contain: content;
  position: relative;
  background-color: var(--_back-color);
  color: var(--_main-color);
  perspective: var(--_z-size);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  font-size: 1.2em;
  font-family: Orbitron;
}

.wrapper > div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  contain: content;
  z-index: -1;
  min-height: 99vh;
  width: 100%;
  text-shadow: 1px 1px 3px #000a;
}

.wrapper > div:not(:has(img)) {
  color: var(--_back-color);
  background: var(--_main-color);
  text-shadow: none;
  z-index: 0;
}

.wrapper .back {
  --_distance: .5;
  transform: translateZ(calc( -1 * var(--_z-size) * var(--_distance))) scale(calc(1 + var(--_distance)));
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.wrapper > div :not(img.back) {
  padding: 2rem var(--_sides);
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 1.3em;
}